.circle {
    stroke: #000;
    stroke-width: 2px;
    fill: white;
}

.link {
    stroke: #83cbe4;
    stroke-width: 2px;
    fill: none;
}

.text {
    font-size: 10px;
    font-family: "tahoma,geneva,helvetica,arial,sans-serif";
}

.tableHdrBlk {
    stroke: grey;
    fill: darkgrey;
    stroke-width: 2px;
}
.tableTitle {
    stroke: darkgrey;
    fill: #83cbe4;
    stroke-width: 2px;
}

.tableRowBlk {
    stroke: lightgrey;
    fill: gainsboro;
    stroke-width: 2px;
}

.tableText {
    font-size: 10px;
    font-family: "tahoma,geneva,helvetica,arial,sans-serif";
}

.titleText {
    font-size: 16px;
    font-family: "tahoma,geneva,helvetica,arial,sans-serif";
}